<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get User Data | REST API NODEJS DEMO</title>
    <link rel="stylesheet" href="scripts/CSS/style.css">
</head>
<body>

<p>Click for object</p>
<select class="user_list">
    <option disabled selected>Select an ID</option>
</select>

<button onclick="">Generate</button>

</body>
</html>
